<div id="askQuestion" class="ask-question" ng-show="askQuestionVisible">
	<form>
		<div class="form-group clearfix">
			<span class="question-publish" ng-click="createQuestion()">发&nbsp;&nbsp;&nbsp;布</span>
		</div>
		<div class="form-group">
			<input type="text" name="questionTitle" id="questionTitle" class="form-control" ng-model="questionTitle" placeholder="标题" />
		</div>
		<div class="form-group">
			<input type="text" name="invitedUserName" id="invitedUserName" class="form-control" ng-model="invitedUserName" placeholder="被邀请人昵称(选填)" />
		</div>
		<div class="form-group">
			<select class="form-control" id="selectQuestionType">
				<option>请选择问题类型</option>
				<option style="background: #ccc;">自定义</option>
				<option ng-repeat="t in allTypes">{{t.category}}</option>
			</select>
		</div>
		<div class="form-group">
			<input type="text" name="questionType" id="questionType" class="form-control" ng-model="questionType" placeholder="自定义问题类型" disabled="disabled" />
		</div>
		<div id="summernote"><p>请输入问题描述</p></div>
	</form>
	
</div>
